<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>VoogaSquad Chat</title>
</head>

<body>
    <h1>VoogaSquad Chat</h1>
    <form method="POST">
        {{ form.hidden_tag() }} {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}
        <br> {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}
        <br> {{ form.submit() }}
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
</body>

</html>
